<table id="tornadoTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Time</th>
            <th>State</th>
            <th>EF-Rating</th>
            <th>Injuries</th>
            <th>Fatalities</th>
            <th>Loss</th>
        </tr>
    </thead>
    <tbody>
        <%- include('_rows', { data }) %>
    </tbody>
</table>
